<div class="col-12 col-md-4 project">
  	<div class='project-meta-tags'>
    	<a href="#" class="industry-tag"><img src="http://via.placeholder.com/45x45/00ffff" class='img-fluid'></a>
    	<a href="#" class="location-tag"><img src="http://via.placeholder.com/45x45/00ffff" class='img-fluid'></a>		    	
  	</div>
  	<a href="#"><img src="http://via.placeholder.com/800x600" class='img-fluid project-img'></a>
	<div class="project-details-container">
		<div class="project-details">				    			
  			<h6>{{ project.title }}</h6>
		</div>
	</div>
</div>