/*
light-green: #defeec;
mid-green: #008037;
dark-green: #005f2d;
*/

.intro {
	/*margin: 0 40px;*/
	padding-top: 1em;
}

a.intro-image > img {
	width: 100%;
}

.link-suggestions {
	padding: 1em;
}

.suggestion-item {
	padding: 0.5em;
	text-align: center;
	text-transform: uppercase;
}

.featured-projects {
	padding: 1em;
	background-color: #008037;
}
