/*
light-green: #defeec;
mid-green: #008037;
dark-green: #005f2d;
*/

.intro {
	/*margin: 0 40px;*/
	padding-top: 1em;
}

a.intro-image > img {
	width: 100%;
}

.link-suggestions {
	padding: 1em;
}

.suggestion-item {
	padding: 0.5em;
	text-align: center;
	text-transform: uppercase;
}

.featured-projects {
	padding: 1em 2em;
	background-color: #008037;
}

/*Only on desktop*/
.filters {
	padding: 2em 2em;
	display: none;
	background-color: #005f2d;
	color: #defeec;
}

.industry-list {
	list-style: none;
	padding: 0;
}

.industry-list > li > a {
	font-size: 1.35em;
	color: #defeec;
	font-weight: bold;
}



.mobile-projects-title {
	padding: 1em 1em;
	color: #defeec;
	text-align: center;
}


/* Media queries for desktop style */
@media screen and (min-width: 768px) {
	.filters {
		display: block;
	}

	.filters > ul > li {
		float: left;
	    width: 30%;
	    font-size: 0.8em;
	    margin-right: 3%;
	}

}

@media screen and (min-width: 992px) {
	.mobile-projects-title {
		display: none;
	}
	.filters > ul > li {
		float: none;
		/*font-size: 1em;*/
	}

	.filters {
		margin: -1em 0;
	}
}
