/*
light-green: #defeec;
mid-green: #008037;
dark-green: #005f2d;
*/

.project-toolbar {
	padding-top: 1em;
}

button.btn-outline-secondary {
	color: #defeec;
	background-color: #005f2d;
}

button.btn-outline-secondary:hover {
	background-color: #008037;
}

button.btn-outline-secondary:active {
	background-color: #defeec !important;	
}
button.btn-outline-secondary:focus {
	border-color: #005f2d;
}

.industry {
	text-align: center;
	background-color: #005f2d;
    margin-bottom: 1em;
    padding: 0.5em 0.8em;
    /*margin-right: 0.5em;*/
    color: 	#defeec;
    /*min-width: 200px;*/
    min-width: 9.5em;
}

.industry > svg {
	height: 1.5em;
	float: left;
}

div.industry > p {
	margin-bottom: 0.5em
}

.polygon-container > polygon, .polygon-container > path {
	fill: white !important;
}

div.filter-btn:hover {
    background-color: #008037;
    cursor: pointer;
}

.project-details-container {
	background-color: white;
}

.industry-tag {
	position: absolute;
	/* Note that 15px accounts for padding
	from col */
	left: 15px;
}

.location-tag {
	position: absolute;
	right: 15px;
}

.industry-tag >img, .location-tag > img {
	height: 3rem;
}

.project-details {
	padding: 1em;
}
.project {
	margin-top: 2em;
}


@media screen and (min-width: 375px) {

	.industry {
		min-width: 11em;
	}
}

@media screen and (min-width: 425px) {

	.industry {
		min-width: 12em;
	}
}
@media screen and (min-width: 768px) {

	.industry {
		min-width: 14em;
	}
}
@media screen and (min-width: 992px) {

	.industry {
		min-width: 13em;
	}
}
@media screen and (min-width: 1140px) {

	.industry {
		min-width: 16em;
	}
}